@charset "UTF-8";

body{
    font-family: "Noto Sans JP" !important;
}

.first-view{
    background-image: url("img/fv.jpg");
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 854px;
    position: relative;
}

.first-view-box{
    position: absolute;
    top:112px;
    right: 146px;
    display: flex !important;
    flex-direction: row-reverse !important;
}

.first-view-box h1,.first-view-box div h1{
    writing-mode: vertical-rl;
    font-size: 32px;
    font-weight: 700;
    letter-spacing: 0.5rem;
    background-color: #FFFFFF;
    padding: 7px 15px 0 15px;
    margin-left: 21px;
}

.first-view-log{
    height: 154px;
    width: 154px;
    border-radius:50%;
    background-image: url("img/logo.jpg");
    background-color: #FDF9EF;
    position: absolute;
    bottom: -72px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 3;
}

.main-article{
    background-color: #FDF9EF;
    position: relative;
}

nav{
    max-width: 1046px;
    margin: 0 auto;
}

ul{
    display: flex;
    margin: 0 auto !important;
    padding: 0 !important;
}

li{
    font-size: 16px;
    font-weight: 700;
    padding-top:88px;
}

.li-left{
    margin-right: 39px ;  
}

.center-li{
    padding-top:75px;
    margin: 0 50px 0 50px;
}

.center-li figure{
    text-align: center;
    margin: 0;
}

.li-right{
    margin-right: 39px ;  
}

.main-section{
    height: 1020px;
}


.main-text-box{
    top: 261px;
    left: 178px;
    position: absolute;
    z-index: 2;
}

.main-text-box h2{
    color: #35A1C3;
    text-align: center;
    font-family: Noto Sans JP;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;    
    background: rgba(255, 255, 255, 0.90);
    padding: 9px 10px;
}

.main-text-box p{
    max-width: 526px;
    height: auto;
    flex-shrink: 0;
    position: absolute;
    z-index: 2;
    margin-top: 28px;
    background: rgba(255, 255, 255, 0.90);
    padding: 15px;
    color: #857868;
    font-family: Noto Sans JP;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 250%; /* 40px */
}

.main-img-box{
    position: absolute;
    top: 196px;
    right:0;
    z-index: 1;
}

.about-01-img{
    max-width: 786px;
    height: 524px;
    flex-shrink: 0;
}

.about-02-img{
    position: absolute;
    right:0;
    margin-top: 38px;
    width: 393px;
    height: 250px;
    flex-shrink: 0;
}

.product-list-section{
    padding-bottom: 94px;
}

.product-list-section h2{
    color: #4E301B;
    text-align: center;
    font-family: Noto Sans JP;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 91px;
}

.swiper-slide{
    display: inline-block;
    border: 1px solid #DDDDDD;
    border-radius: 8px;
    overflow: hidden;
    text-align: center !important;
    background-color: #FFFFFF;
    max-width: 264px !important;
    height: 331px;
    flex-shrink: 0;
}

.swiper-img{
    width: 264px;
    height: 166px;
    flex-shrink: 0;
}

.swiper-text-box{
    box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.16);
    position: relative;
    max-width: 264px;
    height: 166px;
    flex-shrink: 0;
}

.swiper-text-box p{
    margin: 16px;
    color: #4E301B;
    font-family: Noto Sans JP;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.swiper-text-box span{
    position: absolute;
    left: 16px;
    bottom: 16px;
    color: #4E301B;
    font-family: Noto Sans JP;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.notice-section{
    margin-bottom: 90px;
}

.notice-section h2{
    color: #4E301B;
    text-align: center;
    font-family: Noto Sans JP;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-align: center;
    margin: 90px 0;
}

.notice-p{
    max-width: 934px;
    line-height: 67px;
    border-top:1px solid #C6C6C6;
    margin: 0 auto;
}

.notice-p:last-child{
    border-bottom:1px solid #C6C6C6;
}

.notice-date{
    color: #403F3F;
    font-family: Noto Sans JP;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-right: 120px;
}

.notice-text{
    color: #4E301B;
    font-family: Noto Sans JP;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.notice-grapes{
    position: absolute;
    right: 0;
    top: -169;
    width: 235px;
    height: 157px;
    flex-shrink: 0;
}

.faq-section{
    background: #FDF9EF;
    padding: 91px 0;
}

.faq-section h2{
    color: #4E301B;
    text-align: center;
    font-family: Noto Sans JP;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    padding-bottom:73px;
}

.faq-section dl{
    max-width: 740px;
    margin: 0 auto;
}

.faq-section dt{
    background-color: #FFFFFF;
    padding: 12px 0 12px 14px;
    color: #4E301B;
    font-family: Noto Sans JP;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.faq-section dt:not(:first-child){
    margin-top: 31px;
}

dt span{
    color: #4E301B;
    font-family: Noto Sans JP;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

dt img{
    width: 16px;
    height: 10.123px;
    flex-shrink: 0;
    float: right;
    margin: 8px 20px 0 0;
}

.clear{
    clear: both;
}

.faq-section dd{
    margin-top: 24px;
    color: #4E301B;
    font-family: Noto Sans JP;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 24px */
}

.access-section{
    position: relative;
    margin-bottom: 78px;
}

.access-section img{
    position: absolute;
    left: 2;
    top:-216;
    
}

.access-section h2{
    margin:90px 0 ;
    color: #4E301B;
    text-align: center;
    font-family: Noto Sans JP;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.inquiry-section{
    background: #FDF9EF;
}

